@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300|Lora:400i|Montserrat:700');

:root {
    --main-font: 'Montserrat';
    --main-color: #3f51b5;
    --secondary-font: 'Lora';
    --body-font: 'Hind Madurai';
}

p {
    font-family: var(--body-font);
}

h1 {
    font-family: var(--main-font);
    font-size: 2rem;
}

h3 {
    font-family: var(--body-font);
    font-size: 1.15rem;
}

.text-align-center {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.add-padding {
    padding: 1rem;
}

.padding-horizontal {
    padding-left: 1rem;
    padding-right: 1rem;
}


.order-detail {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.history {
    display: flex;
    flex-direction: column;
}

.line-item:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

.add-margin {
    margin: 1rem;
    flex: 1 1 auto;
    text-align: center;
}
