<mat-card class="pos-section">
    <mat-card-title class="add-padding heading">Select Items</mat-card-title>
    <mat-tab-group>
        <mat-tab *ngFor="let type of products; let i = index" label="{{productTypes[i]}}">
            <div class="flex flex-direction-row flex-wrap menu justify-center">
                <div *ngFor="let item of type | async" class="flex flex-direction-column item">
                    <button [ngStyle]="{'background-image': 'url(' + item.itemImgUrl + ')'}" class="item-img"
                            mat-button (click)="addToCheck(item)" aria-label="Show an example snack-bar">
                        <h3 style="color: #f44336">{{item.itemName}}</h3>
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>
